body {
  /*padding: 20px;*/
  overflow-x: hidden;
}

/* home page styles*/

.home-content {
  text-align: center;
  padding-top: 5em;
}

.home-content img {
  width: 70%;
  height: auto;
}

#tagline {
  font-size: 1.5em;
}

#started {
  font-size: 1em;
}

/* modals */

#errmsg {
  text-align: center;
  color: #d9534f;
  font-weight: bold;
}

.modal {
    position: fixed;
    top: 25% !important;
    left: 50%;
}

/* rooms page styles*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

/* rooms main container */

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 1em;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#page-content-wrapper img {
  display: block;
  margin: auto;
  width: 20%;
  height: auto;
  padding-top: .5em;
}

#page-content-wrapper h5 {
  text-align: center;
  font-weight: 200;
}

#pick-room-name {
  text-align: center;
  font-size: 1.5em;
  color: #df691a;
}

#pad-left {
  padding-left: 2em;
}

#username {
  font-weight: bold;
  color: #df691a;
  float: left;
}

#message-cont {
  float: left;
  text-indent: 1em;
}

.chat-bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 2em !important;
  padding-bottom: 2em;
  padding-left: 2em;
}

/* sidebar styles */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 16.5em;
    width: 0;
    height: 100%;
    margin-left: -16.5em;
    overflow-y: auto;
    background: #ebebeb;
    color: #2b3e50;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#sidebar-title {
  height: 2em;
  font-size: 2em;
  line-height: 3em;
  text-indent: .6em;
  padding-bottom: 3em;
}

#create-room-btn {
  position: fixed;
  bottom: 0;
  margin-left: 1.5em;
  margin-bottom: 1em !important;
  padding-bottom: 1em !important;
}

.btn:focus, .btn:active {
   outline: none !important;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width:16.5em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav a:active {
  text-decoration: none;
  font-weight: 900;
}

.sidebar-nav li {
    text-indent: 1.5em;
    line-height: 3em;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
