<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <div id="sidebar-title">Available Rooms</div>
      <div ng-repeat="room in rooms.allRooms track by $index">
        <a class="room-links" href="#">
          <li ng-click="rooms.setCurrentRoom(room)">{{ room.name }}</li>
        </a>
      </div>
      <br><br><br>
      <div id="create-room-btn">
        <button type="button" class="btn btn-primary" ng-click="rooms.open()">Create</button>
      </div>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <img class="room-logo" src="/assets/images/chatto-final1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p id="display-room-name">{{ rooms.displayName }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p id="pick-room-name">{{ rooms.displayPickName }}</p>
        </div>
      </div>
      <br><br>
      <div ng-repeat="message in rooms.messages" id="pad-left">
        <div class="row">
          <div class="col-lg-12">
            <h5 id="username">{{ message.username }}:</h5> <h5 id="message-cont">{{ message.content }}</h5>
          </div>
        </div>
      </div>
      <form>
        <div class="form-group chat-bottom" ng-show="rooms.currentRoom">
          <div class="row">
            <div class="col-lg-6">
              <label class="control-label">chatting as {{ rooms.currentUser }}</label>
              <div class="input-group">
                <input class="form-control input-sm" type="text" ng-model="newMsg.content" autofocus>
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-sm" type="submit" ng-click="rooms.sendMsg(newMsg)">send</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
